/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /*Add a color to the active/current link*/
        .topnav a.active {
            color: white;
            font-weight: bold;
        }

.logo {
    width: 50%;
    height: 100%;
    margin-left: 40%;
}

.resume{
    width: 65%;
    margin-left: 15%;
}
button {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    margin-left: 40%;
    margin-top: 5%;
    font-weight: bold;
}
.footer {
    background-color: black;
    width: 100%;
    height: 100%;
}

